body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}

.loginform, .addform {
    width : 100%;
}

.mainForm {
    width:100%;
    height: 100%;
}

.loginblock, .addblock {
    text-align: left;
    width : 450px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

.graphbutton {
    display: inline-block;
    margin-right: 0.2em;
    border-radius: 3px;
    vertical-align: middle;
}

.itemtext, .undotext
{
    display: inline-block;
}

.itemtext, .undotext
{
    vertical-align: middle;
}

.todoitemlist {
    text-align: left;
    width : 550px;
    margin-left:auto;
    margin-right:auto;
    margin-top:75px;
}

.titletext {
    margin-top: 25px;
    margin-bottom: 5px;
}

.title {
    color: lightgray;
    font-weight:lighter;
    font-size:large;
}

.menu {
    right:0px;
    position:fixed;
    margin-top:-73px;
}

.footer
{
    position: fixed;
    left:0px;
    right:0px;
    bottom: 0px;

    height: 15px;
    border-top:solid 1px lightgray;
    text-align: right;
    font-size: smaller;
    color: lightgray;
    font-style:italic;

    padding-right: 5px;
}

.projectlb {
    max-width:195px;
}
